name: Self-Hosted Runner Test
 
on:
  workflow_dispatch:
 
jobs:
  build:
    runs-on: [self-hosted, windows]
    steps:
      - uses: actions/checkout@v4
 
      - name: Say Hello
        run: echo "Hello from self-hosted runner!"
